<div class="top-messages">
 <div class="top-message">食べたい物にはおおよそどのくらいのカロリーがあるのでしょうか！？</div>
</div>
<div class= "top">
 <div class="menu-top">
  <div class="top-name">和食</div><div class="top-name2">中華料理</div>
 </div>
 <div class="menu">
  <ul class="sets">
  <h2>定食</h2>
   <li class="set">
    <div class="set-name">すき焼き定食</div>
    <div><b>925kcal</b></div>
    </li>
   <li class="set">
    <div class="set-name">とんかつ定食</div>
    <div><b>910kcal</b></div>
    </li>
   <li class="set">
     <div class="set-name">生姜焼き定食</div>
     <div><b>906kcal</b></div>
   </li>
   <li class="set">
    <div class="set-name">ヒレかつ定食</div>
    <div><b>814kcal</b></div>
   </li>
   <li class="set">
     <div class="set-name">アジフライ定食</div>
     <div><b>810kcal</b></div>
   </li>
   <li class="set">
     <div class="set-name">サバの味噌煮定食</div>
     <div><b>755kcal</b></div>
   </li>
   <li class="set">
     <div class="set-name">カキフライ定食</div>
     <div><b>720kcal</b></div>
   </li>
   <li class="set">
     <div class="set-name">サンマの塩焼き定食</div>
     <div><b>645kcal</b></div>
   </li>
   <li class="set">
     <div class="set-name">刺身定食</div>
     <div><b>608kcal</b></div>
   </li>
  </ul>
  <ul class="donburis">
   <h2>丼もの</h2>
   <li class="donburi">
    <div class="donburi-name">カツ丼</div>
     <div><b>1020kcal</b></div>
    </li>
   <li class="donburi">
    <div class="donburi-name">天丼</div>
     <div><b>880kcal</b></div>
    </li>
   <li class="donburi">
    <div class="donburi-name">うな丼</div>
     <div><b>794kcal</b></div>
    </li>
   <li class="donburi">
    <div class="donburi-name">ネギトロ丼</div>
     <div><b>786kcal</b></div>
    </li>
   <li class="donburi">
    <div class="donburi-name">親子丼</div>
     <div><b>690kcal</b></div>
    </li>
   <li class="donburi">
    <div class="donburi-name">鉄火丼</div>
     <div><b>620kcal</b></div>
    </li>
  </ul>
  <ul class="mens">
   <h2>麺類</h2>
   <li class="men">
    <div class="men-name">鍋焼きうどん</div>
    <div><b>596kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">カレーうどん</div>
    <div><b>580kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">鴨南蛮蕎麦</div>
    <div><b>466kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">とろろ蕎麦</div>
    <div><b>460kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">たぬき蕎麦</div>
    <div><b>438kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">月見蕎麦</div>
    <div><b>424kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">きつねうどん</div>
    <div><b>398kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">おろし蕎麦</div>
    <div><b>380kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">山菜蕎麦</div>
    <div><b>320kcal</b></div>
   </li>
   <li class="men">
    <div class="men-name">ざる蕎麦</div>
    <div><b>310kcal</b></div>
   </li>
  </ul>
    <ul class="c-sets">
   <h2>中華定食</h2>
   <li class="c-set">
    <div class="c-set-name">レバニラ定食</div>
    <div><b>750kcal</b></div>
   </li>
   <li class="c-set">
    <div class="c-set-name">麻婆豆腐定食</div>
    <div><b>740kcal</b></div>
   </li>
   <li class="c-set">
    <div class="c-set-name">八宝菜定食</div>
    <div><b>kcal</b></div>
   </li>
   <li class="c-set">
    <div class="c-set-name">餃子定食</div>
    <div><b>700kcal</b></div>
   </li>
   <li class="c-set">
    <div class="c-set-name">肉野菜炒め定食</div>
    <div><b>670kcal</b></div>
   </li>
   <li class="c-set">
    <div class="c-set-name">酢豚定食</div>
    <div><b>640kcal</b></div>
   </li>
   <li class="c-set">
    <div class="c-set-name">チンジャオロース定食</div>
    <div><b>620kcal</b></div>
   </li>
  </ul>
    <ul class="c-donburis">
   <h2>丼もの</h2>
   <li class="c-donburi">
    <div class="c-donburi-name">チャーハン</div>
    <div><b>750kcal</b></div>
   </li>
   <li class="c-donburi">
    <div class="c-donburi-name">中華丼</div>
    <div><b>670kcal</b></div>
   </li>
   <li class="c-donburi">
    <div class="c-donburi-name">中華粥</div>
    <div><b>350kcal</b></div>
   </li>
   <h2>麺類</h2>
   <li class="c-donburi">
    <div class="c-donburi-name">あんかけ焼きそば
    </div>
    <div><b>850kcal</b></div>
   </li>
   <li class="c-donburi">
    <div class="c-donburi-name">坦々麺</div>
    <div><b>800kcal</b></div>
   </li>
   <li class="c-donburi">
    <div class="c-donburi-name">五目焼きそば</div>
    <div><b>610kcal</b></div>
   </li>
   <li class="c-donburi">
    <div class="c-donburi-name">味噌ラーメン</div>
    <div><b>560kcal</b></div>
   </li>
    <li class="c-donburi">
    <div class="c-donburi-name">冷やし中華</div>
    <div><b>550kcal</b></div>
   </li>
   <li class="c-donburi">
    <div class="c-donburi-name">醤油ラーメン</div>
    <div><b>440kcal</b></div>
   </li>
  </ul>
     <ul class="cs">
   <h2>一品料理</h2>
   <li class="c">
    <div class="c-name">焼き餃子(5個)</div>
    <div><b>450kcal</b></div>
   </li>
   <li class="c">
    <div class="c-name">肉まん</div>
    <div><b>422kcal</b></div>
   </li>
   <li class="c">
    <div class="c-name">小籠包(3個)</div>
    <div><b>240kcal</b></div>
   </li>
   <li class="c">
    <div class="c-name">ワンタンスープ</div>
    <div><b>120kcal</b></div>
   </li>
  </ul>
 </div>
</div>


<div class= "middle">
<div class="middle-menu-top">
  <div class="middle-top-name">洋食</div><div class="middle-top-name2">ファーストフード</div>
 </div>
 <div class="menu">
  <ul class="f-sets">
  <h2>ご飯もの</h2>
   <li class="f-set">
    <div class="f-set-name">オムライス</div>
    <div><b>843kcal</b></div>
    </li>
   <li class="f-set">
    <div class="f-set-name">カツカレー</div>
    <div><b>830kcal</b></div>
    </li>
   <li class="f-set">
     <div class="f-set-name">ラザニア</div>
     <div><b>790kcal</b></div>
   </li>
   <li class="f-set">
    <div class="f-set-name">ハヤシライス</div>
    <div><b>720kcal</b></div>
   </li>
   <li class="f-set">
     <div class="f-set-name">ミックスピザ</div>
     <div><b>720kcal</b></div>
   </li>
   <li class="f-set">
     <div class="f-set-name">マカロニグラタン</div>
     <div><b>560kcal</b></div>
   </li>
   <li class="f-set">
     <div class="f-set-name">シーフードリゾット</div>
     <div><b>490kcal</b></div>
   </li>
  </ul>
  <ul class="pastas">
   <h2>パスタ</h2>
   <li class="pasta">
    <div class="pasta-name">カルボナーラ</div>
     <div><b>895kcal</b></div>
    </li>
   <li class="pasta">
    <div class="pasta-name">ペスカトーレ</div>
     <div><b>720kcal</b></div>
    </li>
   <li class="pasta">
    <div class="pasta-name">ミートソース</div>
     <div><b>680kcal</b></div>
    </li>
   <li class="pasta">
    <div class="pasta-name">ナポリタン</div>
     <div><b>650kcal</b></div>
    </li>
   <li class="pasta">
    <div class="pasta-name">ペペロンチーノ</div>
     <div><b>556kcal</b></div>
    </li>
   <li class="pasta">
    <div class="pasta-name">たらこスパゲッティ</div>
     <div><b>524kcal</b></div>
    </li>
  </ul>
  <ul class="fs">
   <h2>一品料理</h2>
   <li class="f">
    <div class="f-name">シーザーサラダ</div>
    <div><b>306kcal</b></div>
   </li>
   <li class="f">
    <div class="f-name">ポテトサラダ</div>
    <div><b>224kcal</b></div>
   </li>
   <li class="f">
    <div class="f-name">コーンポタージュ</div>
    <div><b>200kcal</b></div>
   </li>
   <li class="f">
    <div class="f-name">オニオンスープ</div>
    <div><b>190kcal</b></div>
   </li>
  </ul>
    <ul class="hamburgers">
   <h2>ハンバーガー</h2>
   <li class="hamburger">
    <div class="hamburger-name">テリヤキバーガー</div>
    <div><b>480kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">Wチーズバーガー</div>
    <div><b>450kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">フィッシュバーガー</div>
    <div><b>430kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">ホットドック</div>
    <div><b>410kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">ベーコンレタスバーガー</div>
    <div><b>390kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">チーズバーガー</div>
    <div><b>330kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">ハンバーガー</div>
    <div><b>290kcal</b></div>
   </li>
   <li class="hamburger">
    <div class="hamburger-name">エッグマフィン</div>
    <div><b>265kcal</b></div>
   </li>
  </ul>
    <ul class="sides">
   <h2>サイドメニュー</h2>
   <li class="side">
    <div class="side-name">フライドポテト(M)</div>
    <div><b>400kcal</b></div>
   </li>
   <li class="side">
    <div class="side-name">ナゲット(5個)</div>
    <div><b>230kcal</b></div>
   </li>
   <li class="side">
    <div class="side-name">アップルパイ</div>
    <div><b>216kcal</b></div>
   </li>
   <li class="side">
    <div class="side-name">フランクフルト</div>
    <div><b>170kcal</b></div>
   </li>
   <li class="side">
    <div class="side-name">クラムチャウダー</div>
    <div><b>150kcal</b></div>
   </li>
   <li class="side">
    <div class="side-name">コールスロー</div>
    <div><b>130kcal</b></div>
   </li>
   <li class="side">
    <div class="side-name">コーンサラダ</div>
    <div><b>94kcal</b></div>
   </li>
  </ul>
 </div>
</div>
 
</div>
<div class= "bottom">
 <div class= "bottom-top">
  <div class="bottom-top-name">スイーツ</div>
 </div>
 <div class="sweet">
  <ul class="desserts">
  
   <li class="dessert">
    <div class="dessert-name">フルーツパフェ</div>
    <div><b>450kcal</b></div>
    </li>
   <li class="dessert">
    <div class="dessert-name">チョコレートケーキ</div>
    <div><b>400kcal</b></div>
    </li>
   <li class="dessert">
     <div class="dessert-name">ベークドチーズケーキ</div>
     <div><b>375kcal</b></div>
   </li>
   <li class="dessert">
    <div class="dessert-name">アップルパイ</div>
    <div><b>360kcal</b></div>
   </li>
   <li class="dessert">
     <div class="dessert-name">レアチーズタルト</div>
     <div><b>340kcal</b></div>
   </li>
   <li class="dessert">
     <div class="dessert-name">ショートケーキ</div>
     <div><b>300kcal</b></div>
   </li>
   <li class="dessert">
     <div class="dessert-name">エクレア</div>
     <div><b>270kcal</b></div>
   </li>
   <li class="dessert">
     <div class="dessert-name">どら焼き</div>
     <div><b>213kcal</b></div>
   </li>
  </ul>
  <ul class="desserts">
   <li class="dessert">
    <div class="dessert-name">大福</div>
     <div><b>212kcal</b></div>
    </li>
   <li class="dessert">
    <div class="dessert-name">プレーンドーナツ</div>
     <div><b>197kcal</b></div>
    </li>
   <li class="dessert">
    <div class="dessert-name">プリン</div>
     <div><b>189kcal</b></div>
    </li>
   <li class="dessert">
    <div class="dessert-name">串団子(あんこ)</div>
     <div><b>162kcal</b></div>
    </li>
   <li class="dessert">
    <div class="dessert-name">シュークリーム</div>
     <div><b>160kcal</b></div>
    </li>
   <li class="dessert">
    <div class="dessert-name">串団子(みたらし)</div>
     <div><b>158kcal</b></div>
    </li>
    <li class="dessert">
    <div class="dessert-name">ゼリー</div>
     <div><b>77kcal</b></div>
    </li>
  </ul>
 
</div>
<div class="bottom-btn2">
   <%= button_to "計算してみよう", {controller: 'calculations', action: 'index'}, {method: :get,class: "red-btn"} %>
   <%= link_to "トップページ",root_path ,class: 'top-pages-btn'%>
</div>

