header{
 background: -moz-linear-gradient(top, #FFC778, #FFF);
 background: -webkit-linear-gradient(top, #FFC778, #FFF);
 background: linear-gradient(to bottom, #FFC778, #FFF);
 display: flex;
 justify-content: center;
}

.hd{
 font-size: 40px;
}
.InputMember{
    display:inline-block;
    width:150px;
  }

.formula{
  height: 30vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keisan{
  height: 30vh;
  display: flex;
  justify-content: center;
}

.home-btn{
  display: flex;
  justify-content: space-evenly;
  height: 200px;
}
.top-page-btn{
  height: 30px;
  color: #000;
  background-color: rgb(190, 187, 187);
  padding: 10px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 100vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  border-bottom: 5px solid rgb(75, 73, 73);
}

.top-page-btn:hover{
  margin-top: 5px;
  color: rgb(75, 73, 73);
  background:  rgb(190, 187, 187);
  border-bottom: 2px solid rgb(75, 73, 73);
  
}

.foods-page-btn{
  height: 30px;
  color: #000;
  background-color: rgb(198, 221, 160);
  padding: 10px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 100vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  border-bottom: 5px solid rgb(75, 73, 73);
}

.foods-page-btn:hover{
  margin-top: 5px;
  color: rgb(75, 73, 73);
  background:  rgb(198, 221, 160);
  border-bottom: 2px solid rgb(75, 73, 73);
  
}