.form-header-text{
  height: 100px;
  display: flex;
  justify-content: center;
}

.form-group{
  height: 100px;
  text-align: center;
}
.form-text-wrap{
  font-size: 20px;
}

.indispensable{
  color: red;
  font-size: 15px;
}

.login-btn{
  display: flex;
  justify-content: center;
}

